.houses{
    padding:4em 8em;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    /* grid-auto-rows: 100px; */
    /* place-items: center; */
}
.img-cont{
    text-align: center;
    width: 37vh;
    /* height: 37vh; */
    border: 1px solid rgba(0, 128, 0, 0.658);
    padding: 4px 0 0 0;
    border-radius:5px;
}
.img-cont:hover{
    border: 1.5px solid green;
    /* padding: 5px 0 0 0; */
}
.img-cont h5{
    margin-top: 5px;
    font-size: 12px;
}
.houses img{
    width: 35vh;
    height: 30vh;
}
.error-cont{
    margin: 0 auto;
   width: 15em;
    text-align: center;
    border-radius: 5px;
}

@media(max-width:500px){
    .about-slider-text{
        font-size: 32px;
        text-align: center;
        margin: 0 auto;
    }
    .houses{
        padding:4em 8em;
        grid-gap: 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
    }
    .houses img{
        width: 22vh;
        height: 20vh;
    }
    .img-cont{
        width: 22vh;
        /* height: 28vh; */
    }

 }
 @media(max-width:300px){
    .houses{
        grid-template-columns: 1fr;
    }
    .img-cont{
        width: 22vh;
        /* height: 26vh; */
    }
 }
  @media(max-width:1020px) and (min-width:800px){
    .houses{
        grid-template-columns: 1fr 1fr 1fr;
    }
 }
 
 @media(max-width:800px) and (min-width:300px){
    .houses img{
        width: 20vh;
        height: 20vh;
    }
    .img-cont{
        width: 22vh;
        /* height: 28vh; */
    }
    .houses{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:430px) and (min-width:300px){
    .houses{
        grid-template-columns: 1fr 1fr;
    }
    body{
    background: #000;
 }
}
